<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head> 

<body>
   <header>
        
        <img src="{{ url_for('static', filename='logo1.png') }}" class="logo"/>
        <nav>
           <ul>
           
              <li><a href="file:///D:/User/Documents/Haru%20Website/Food/Grade%20level.html">Grade Level</a></li>
              

              <li><a href="{{ url_for('index') }}">Back to Home</a></li>
        </ul>
       </div>
  </nav>
</header>
        
        
        <div class="box1">
            <h2>About Us</h2>
            <hp><i>"Welcome to our website! As a student, you’ll have access to a vast collection of books to support your </p>
                <p> learning and growth. Whether you need textbooks, reference materials, or books for leisure reading, we’ve </p>
                <p> got you covered. Explore, discover, and make the most of your reading journey with us!"</p></i>
    </div>
        <div class="box2">
            <h3>Group Member</h3>
        </div>
        
        <img src="{{ url_for('static', filename='matanguihan.jpg') }}" class="profile">
        <img src="profile1.jpg" class="profile1">
        <img src="profile2.jpg" class="profile2">
        <img src="profile3.jpg" class="profile3">
   
        <div class="matanguihan"> 
           <h5>Matanguihan, Alysson Gabriel C.</h5> 
           <h6>BSIT - 1206</h6>
           <h6>24-33110@g.batstate-u.edu.ph</h6>
        </div>  
        <div class="miranda">
           <h5>Miranda, Angelo Kerbie</h5> 
           <h6>BSIT - 1206</h6>
           <h6>24-30735@g.batstate-u.edu.ph</h6>
           </div>
        <div class="mendoza">
            <h5>Mendoza, Karen Celine</h5> 
            <h6>BSIT - 1206</h6>
            <h6>24-31503@g.batstate-u.edu.ph</h6>
        </div>
        <div class="munlawin">
        <h5>Munlawin, Tristan Jes</h5>
        <h6>BSIT - 1206</h6>  
        <h6>24-34016@g.batstate-u.edu.ph</h6>
        </div>    

       <div class="message">
        <p>"Our website provides a collection of books for elementary school students from Grade 1 to Grade 6. It includes</p>
            <p>educational resources covering subjects like English, Mathematics, Science, and more. These books are carefully</p>
            <p> selected to support learning, improve literacy, and enhance problem-solving skills, making education engaging and accessible for</p>
            <p>young learners."</p>
        <p></p>
        <p>    </p>
        <p>    </p>
        </div>
        
</body>

<footer>
    <h4>Created by: 1st Year Student of BSU Lipa</h4>
</footer>
</html>