<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <header>
        <h1>WELCOME TO BSU LIBRARY LOGIN SITE!</h1>
        <nav>
            <!-- Function name in app.py is 'loginStudent' (not 'LoginStudent') -->
             <a href="{{ url_for('loginAdmin') }}">Admin</a>
            <a href="{{ url_for('loginStudent') }}">Login</a>
        </nav>
    </header>

    <main>
        <h2>Haluuuu</h2>
    </main>
</body>
</html>
